<section id="search">
    <h1>Search</h1>
    <form action="/movies/search" method="GET" class="form">
        <input type="text" class="search" name="search" value="{{query.search}}" placeholder="Title...">
        <input type="text" name="genre" class="genre" value="{{query.genre}}" placeholder="Genre...">
        <input type="number" name="year" class="year" value="{{query.year}}" placeholder="Year...">
        <input type="submit" value="search">
    </form>
</section>

<section id="catalog">
    <div class="band">

        {{#each filteredMovieArr}}
        {{>movie}}
        {{else}}
        <div class="no-posts">
            <p class="no-offer">There are no movies matched...</p>
        </div>
        {{/each}}
    </div>
</section>